{% extends 'base.html' %}
{% block content %}
<h1>Arlic Good Shop</h1>

<h5>Name:</h5>
<p>{{ nama }}</p>

<h5>Class:</h5>
<p>{{ kelas }}</p>

{% if not item_entries %}
<p>Belum ada data pada arlic good shop.</p>
{% else %}
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data item di bawah baris ini 
  {% endcomment %} 
  {% for item in item_entries %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item_entry' %}">
  <button>Add New Item Entry</button>
  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
  </a>
</a>

{% endblock content %}